*.class
*.jar
*.war
out
target

# web
war/WEB-INF/deploy/
war/WEB-INF/classes/

# gwt / errai
.errai/
.factorypath
.gwt/
.gwt-tmp/
.niogit/
war/gwt_bree/
gwt-unitCache/
www-test/

# misc
.apt_generated/

# os / ide
nb-configuration.xml
*.iml
.DS_Store
.idea
.settings
.project
.classpath
